@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@454;500&family=Estonia&family=Lobster+Two&display=swap');
body{
  padding: 0 2%;
  margin: 0;
  background-image:url(image/1.jpg);
  font-family: 'Estonia', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster Two', cursive;
}
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3e1cacbc;
  height: 100px;
}
nav .photo img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
nav .photo h1{
  margin-left: 10px;
  font-size: 15px;
}
nav table tr td{
  border: 1px solid black;
}
nav ul{
  display: flex;
  list-style: none;
  color: rgb(75, 2, 2);
}
nav ul li{
margin-left: 20px;
cursor: pointer;
border: 1px solid black;
background-color: #615686bc;
border-radius: 10px;
}
nav ul li:hover{
  border-color: #85ffaa ;
  color: rgb(250, 212, 0);
}
.madescription{
  background-color: #1c8bac9f;
  width: 300px;
  height: 500px;
  font-family: 'Lobster Two', cursive;
  justify-content: center;
  border: 1px solid black;
 float: left;
}
.madescription h1{
  font-size: 25px;
}
footer{
  align-items: center;
  background-color: #e5e9e3bc;
  height: 150px;
  text-align: center;
  clear: both;
}
footer h2{
  font-size: 35px;
}
footer ul{
  display: flex;
  list-style: none;
  color: rgb(0, 0, 0);
}
footer ul li{
  list-style: none;
 padding: 30px;
 text-align: center;
}

@media screen and (max-width: 700px){
  nav{
    justify-content: center;
  }
} 
